<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Homepage - Description</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" [routerLink]="['/']">eCommerce App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/about-us']">About</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/products']">Our products</a></li>
                        <li class="nav-item" *ngIf="authService.isUserLoggedIn()">
                            <a class="nav-link" [routerLink]="['/my-account']">My account</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-sm btn-outline-dark" [routerLink]="['/cart']">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartService.getCart().length}}</span> 
                        </button>
                        <a class="btn btn-sm btn-outline-dark ms-2" (click)="authService.logoutUser()"
                        *ngIf="authService.isUserLoggedIn(); else login_link">
                            <i class="bi bi-power me-1"></i>
                            Logout
                        </a>
                        <ng-template #login_link>
                        <a class="btn btn-sm btn-outline-dark ms-2" [routerLink]="['/checkout/login']">
                            <i class="bi bi-box-arrow-in-right me-1"></i>
                            Login
                        </a>
                        </ng-template>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-2" *ngIf="pageMeta['title']">
            <div class="container px-4 px-lg-5 my-2">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{pageMeta["title"]}}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">{{ pageMeta["subtitle"] }}</p>
                </div>
            </div>
        </header>

        <router-outlet></router-outlet>
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">@2023. eCommerce angular template. Developed by Shashikumar Misal.</p></div>
        </footer>
        
        <!-- Flash message -->
        <message-component (msgCame)="msgCame($event)"></message-component>
    </body>
</html>


<ng-http-loader 
[backgroundColor]="'#FFFFFF'"
[backdropBackgroundColor]="'#000000'">
</ng-http-loader>
