/* You can add global styles to this file, and also import other style files */

.col-form-label {
    text-align: right;
    font-weight: 600;
}
.invalid-feedback { 
    display: block !important;
}
.required {
    font-size: 0.875em;
    color: #dc3545;
}